* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #fff;
    --bg-food-color: #47daff;
    --text-primary-color: #1792d2;
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;
    --border-primary-color: #333333;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 16px;
    --border-radius-2xl: 20px;
    --border-radius-3xl: 24px;
}

html, body{
    width: 100%;
    height: 100%;
    background: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 main, section{
    width: 100%;
    height: 100%;
 }
 
 section, .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-lg);
}
 .info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
 }

 .board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}
.block{
    border-radius: 50%;
    border: 1px solid var(--border-primary-color);
}
.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: #441ab90a;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .start-game,
.modal .game-over{
    background: var(--bg-primary-color);
    padding: var(--space-3xl);
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
}

.modal .game-over{
    display: none;
}

.btn{
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-sm);
    background-color: var(--bg-fill-color);
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 1.2rem;
}

btn:hover{
    transform: scale(1.05);
}